# Variables de entorno para la Base de Datos
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_contraseña_segura_aqui
POSTGRES_DB=miapp
POSTGRES_HOST=db

# Variables de la App (ejemplo)
NODE_ENV=production
PORT=3000
